<h1>Iniciar Sesion</h1>
<form action="" id="formLogin">
  <label for="input_email">Email</label> <input id="input_email" type="email"><br>
  <label for="input_password">Contraseña</label> <input id="input_password" type="password" ><br>
  <button type="submit">Enviar</button>
</form>
<a href="/api/users/github">Iniciar con Github</a>
<h3>No tienes cuenta?</h3>
<button id="register">Registrate!</button>

<script src="/js/login.js"></script>