{{#if context.showing.length}}
  <div>
    <p>No hay productos!</p>
  </div>
{{else}}
  <ul>
    {{#each context.docs}}
      <li>
        <p>{{this.title}}: ${{this.price}}</p>
      </li>
    {{/each}} 
  </ul>
{{/if}}
