<h1>Login</h1>
<form action="" id="formLogin">
  <label for="input_email">email</label> <input id="input_email" type="email" placeholder="email"><br>
  <label for="input_password">password</label> <input id="input_password" type="password" placeholder="password"><br>
  <button type="submit">Enviar</button>
</form>

<script src="/js/login.js"></script>