<form id="productInput" action="">
  <label for="title">Titulo: </label>
  <input id="title" type="text" name="title" required>

  <label for="description">Descripcion: </label>
  <input id="description" type="text" name="description" required>

  <label for="code">Codigo: </label>
  <input id="code" type="number" name="code" required>

  <label for="price">Precio: </label>
  <input id="price" type="number" name="price" required>

  <label for="stock">Stock: </label>
  <input id="stock" type="number" name="stock" required>

  <label for="category">Categoria: </label>
  <input id="category" type="number" name="category" required>

  <label for="thumbnails">Enlace: </label>
  <input id="thumbnails" type="text" name="thumbnails" required>

  <input id="submit" type="submit" value="Enviar">

</form>

<ul id="products">
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>