<h1>Registro</h1>
<form action="" id="formRegister">
  <label for="input_first_name">first_name</label> <input id="input_first_name" type="text"
    placeholder="first_name"><br>
  <label for="input_last_name">last_name</label> <input id="input_last_name" type="text" placeholder="last_name"><br>
  <label for="input_email">email</label> <input id="input_email" type="email" placeholder="email"><br>
  <label for="input_age">age</label> <input id="input_age" type="number" placeholder="age"><br>
  <label for="input_password">password</label> <input id="input_password" type="password" placeholder="password"><br>
  <button type="submit">Enviar</button>
</form>

<script src="/js/register.js"></script>